.card {
  max-width: 40%;
  min-height: 30vh;
  display: flex;
  align-items: center;
}

.loginButton {
  width: 100%;
  margin-top: 15px !important;
}

.loadingButton {
  color: gray !important;
}

.loginText {
  margin-bottom: 10px;
  text-align: center;
  display: block;
}

.footerDiv {
  margin-top: 5px !important;
  display: block;
}

.lostPasswordText {
  text-decoration: none;
}

.backText {
  text-decoration: none;
  text-align: center;
  display: block;
}

.registerText {
  text-decoration: none;
  float: right;
}