.imageContainer {
  background-image: url('../../assets/img/background.png');
  background-size: cover;
  background-color: #FAFAFA;
  height: 100vh;
}

.root {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  max-width: 40%;
  min-height: 30vh;
  display: flex;
  align-items: center;
}

.loginButton {
  width: 100%;
  margin-top: 15px !important;
}

.loadingButton {
  color: gray !important;
}

.loginText {
  margin-bottom: 10px;
  text-align: center;
  display: block;
}

.logoImage {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px !important;
  display: block;
}

.footerDiv {
  margin-top: 5px !important;
  display: block;
}

.lostPasswordText {
  text-decoration: none;
  color: #466362
}

.backText {
  text-decoration: none;
  color: #466362;
  text-align: center;
  display: block;
}

.registerText {
  text-decoration: none;
  float: right;
  color: #466362
}

.copyrightText {
  font-size: 13px;
  text-align: center;
  margin-top: 15px;
  display: block;
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}