.container {
  margin-top: 25px;
}

.listMargin {
  margin-top: 15px;
}

.searchField {
  width: 100%;
}

.submitButton {
  width: 100%;
}

.greyBlock {
  height: 420px;
  padding-top: 25px;
  margin-top: -52px !important;
  margin-bottom: -24px;
  margin-left: -24px;
  margin-right: -24px;
}

.toolbarButtons {
  display: flex;
}

.image {
  max-width: 163px;
  min-width: 163px;
  min-height: 230px;
  max-height: 230px;
  border: solid 1px #D9D9D9;
  border-radius: 5px;
}

.detailsBlock {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.detailsTextBlock {
  margin-left: 20px;
}

.abstractBlock {
  text-align: justify;
  margin-top: 50px;
}