.image {
  object-fit: contain !important;
}

.cardContent {
  padding: 8px !important
}

.link {
  color: inherit !important;
  text-decoration: none !important;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}